.page{
    width: 900px;
    margin: auto;
    font-size: 16px;
    font-family: 'Source sans Pro', Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: #e0e0e0;
}



body{
    background-color: #000000;
}


#gauche{
    width: 200px;
    background-color: #b71c1c;
}
figure{
    margin-left: 27px;
}
img{
    border-radius: 50%;
    margin-top: 20px;
}
section{
    margin-left: 20px;
}
#gauche h3{
    text-align: center;
    background-color: rgb(241, 232, 214);
    font-size: 20px;
    margin-right: 0px;
    margin-left: -20px;
}
#gauche p{
    font-size: 12px;
    text-align: justify;
    margin-right: 19px;
    color: #e0e0e0;
    font-weight: normal;
    
}
#lois{
    margin-top: 400px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-right: 54px;
}
li{
    margin: 10px;
    border: solid black 2px;
    border-radius: 50%;
}

p i{
    color: #b71c1c;
    margin-right: 5px;
}
h3 i{
    color: #b71c1c;
}


#droite{
    width: 700px;
}
header{
    margin-left: 30px;
    margin-top: 30px;
}


header h1{
    margin-bottom: -25px;
}
h1{
    color: #000000;
    font-size: 40px;
    margin-left: 1px;
    padding-top: 40px;
    font-weight: normal;
    
}
#droite h1{
    font-weight: normal;
}

h1 span{
    color: #b71c1c;
}
h2{
    color: black;
    font-weight: normal;
    margin-left: 1px;
}



h2 span{
    border-bottom:#b71c1c solid 2px;
}


.section__title{
    margin-top: 70px;
    background-color: #e0e0e0;
    border-bottom: 2px solid #b71c1c;
    margin-right: 25px;
    margin-left: 10px;
}
#droite p{
    text-align: justify;
    font-size: 14px;
}

section p{
    font-size: 12px;
    font-weight: normal;
}


article{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-right: 20px; 
}

.date{
    margin-top: 5px;
}

h4{
    margin-top: 15px;
    font-weight: normal;
    margin-bottom: 5px;
}


.para{
    margin-top: 4px;
}
.contact{
    margin-left: 100px;
}







@media screen and (max-width: 600px){
    .page{
        width: auto;
        flex-direction: column;
    }
    
    article{
        grid-template-columns: 1fr;

    }
    #gauche{
        width: auto;
    }
    #gauche p{
        font-size: 17px;
    }
    #lois{
        margin-top: 5px;

    }
    figure{
        text-align: center;
    }
    ul{
        font-size: 30px;
    }
    #droite{
        width: auto;
    }
    #droite p{
        font-size: 17px;
    }
    h4{
        margin: 0px;
    }
    .contact{
        margin-left: 0px;
    }
}

@media screen and (max-width: 1000px){
    .page{
        width: auto;
    }
    article{
        grid-template-columns: 1fr;
        
        
    }
    #droite p{
        font-size: 16px;
    }
    #gauche p{
        font-size: 16px;
    }
    .contact{
        margin-left: 0px;
    }
    h4{
        margin-top: 0px;
    }
    
    
    
   
}














