
body{
    background-color: black;
}




.page{
    width:900px;
    margin: auto;
    font-family: 'Source sans Pro', Calibri, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display:flex;
    border:solid black 3px;
    background-color: white;

}

#gauche{
    width:200px;
    background-color: maroon;
    
}
img{
   
    border-radius:150px;
    }

    figure{
    margin-left:27px;
}
section{
    margin-left:15px;
    font-size:16px;
    
}
h3 {
    text-align:center;
    font-size:20px;
    background-color:blanchedalmond;
    margin-left:-15px;
}
#lois{
    position:relative;
    top:115px;
}
p{
    text-align: justify;
}
.paragraphe{
    position:relative;
    right:7px;
}
ul{
    display:flex;
    justify-content: space-around;
    right:26px;
    list-style-type: none;
    position:relative;
    top:100px;
    
}

li{ 
    font-size:25px;
    margin:12px;
    padding-right:10px;
    border:solid black 3px;
    border-radius:50px;
    
}
#droite{
    margin-right:20px;

}
header{
    margin-top:70px;
    margin-left: 15px;

}
h1{
    color:maroon;
 }
 .pa{
     position:relative;
     font-size:25px;
     bottom:30px;
     text-decoration: underline maroon ;
 }

 article{
     display:flex;
 }
 

 
    


h2{
    border-bottom: 3px solid maroon;

}

section p{
    font-size:10px;
}
h4{
    position:relative;
    left:60px;
    bottom:10px;
    font-size:10px;
}
.para{
    position:relative;
    left:33px;
    top:7px;
}
.para1{
    position: relative;
    top:12px;
    right:5px;
}
.formationmar{
    position: relative;
    top:10px;
}
.oc{
    position: relative;
    left:16px;
    top:5px;
}
.stage{
    position:relative;
    left:5px;
    bottom:15px;
    
}
.experience{
    position:relative;
    bottom:10px;
    
}  
.para2{
    position:relative;
    right:29px;
    top:7px;
}
.reception{
    position:relative;
    left:5px;
}
.para3{
    position:relative;
    top:20px;
    right:82px;
}

.formar{
    position:relative;
    left:62px;
}
.date{
    position:relative;
    left:5px;
    font-size:10px;
    top:10px;
}
.date2{
    left:5px;
    position:relative;
    font-size:10px;
    top:10px;

}

.para4{
    position:relative;
    left:400px;
}

